.job-card-inner {
  margin-left: 15px;
  padding: 20px 5px;
  font-style: Poppins-Light;
}
.job-card-wrapper {
  margin: 0px 0px 10px 0px !important;
  cursor: pointer;
}
.job-card-inner h2 {
  font-style: Poppins-Regular !important;
  color: black;
  font-weight: bold;
  font-size: 14px;
}
.job-card-inner h3 {
  font-style: Poppins-Light;
  color: #280068 !important;
  font-weight: bold;
  font-size: 12px;
}
.job-card-inner p {
  margin: 5px 0px 0px 0px !important;
  font-size: 13px;
}
.job-card-svl {
  display: flex;
}

.job-card-svl span {
  margin: 0px 100px 0px 0px !important;
  display: flex;
  font-size: 13px;
}
.job-card-svl span .fa {
  margin: 3px 5px;
  font-size: 14px;
  color: #777777;
}

.btn-apply {
  margin: -3px 5px 2px 0px;
  font-size: 12px !important;
  border-radius: 0px !important;
}

.job-card-footer-icon {
  margin: 0px 10px 0px 10px !important;
  border: none;
  font-size: 20px;
  background: none;
}

.job-card-footer-icon .fa-star-o:hover {
  background-color: brown;
}
.btn-apply:focus {
  box-shadow: none !important;
}

.job-details-type p span {
  font-weight: bold;
}

.profile {
  min-height: 355px;
  display: inline-block;
}
figcaption.ratings {
  margin-top: 20px;
}
figcaption.ratings a {
  color: #f1c40f;
  font-size: 11px;
}
figcaption.ratings a:hover {
  color: #f39c12;
  text-decoration: none;
}
.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.project-tab {
  padding: 10%;
  margin-top: -8%;
}
.project-tab #tabs {
  background: #007b5e;
  color: #eee;
}
.project-tab #tabs h6.section-title {
  color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #0062cc;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 3px solid !important;
  font-size: 16px;
  font-weight: bold;
}
.project-tab .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #0062cc;
  font-size: 16px;
  font-weight: 600;
}
.project-tab .nav-link:hover {
  border: none;
}
.project-tab thead {
  background: #f3f3f3;
  color: #333;
}
.project-tab a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}
