@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');

.sigin-wrapper {
  max-width: 500px;
  margin: 20px auto;
  padding: 10px 40px;
  box-shadow: 20px 20px 80px rgb(206, 206, 206);
}

.sigin-wrapper .h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 3.5rem;
  font-weight: bold;
  color: #400485;
  font-style: italic;
}

.sigin-wrapper .h4 {
  font-family: 'Poppins', sans-serif;
}

.sigin-wrapper .input-field {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #400485;
  color: #400485;
}

.sigin-wrapper .input-field:hover {
  color: #7b4ca0;
  border: 1px solid #7b4ca0;
}

.sigin-wrapper input {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  padding: 0px 2px;
  font-family: 'Poppins', sans-serif;
}

.sigin-wrapper .fa-eye-slash.btn {
  border: none;
  outline: none;
  box-shadow: none;
}

.sigin-wrapper a {
  text-decoration: none;
  color: #400485;
  font-weight: 700;
}

.sigin-wrapper a:hover {
  text-decoration: none;
  color: #7b4ca0;
}

.sigin-wrapper .option {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.sigin-wrapper .option label.text-muted {
  display: block;
  cursor: pointer;
}

.sigin-wrapper .option input {
  display: none;
}

.sigin-wrapper .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
}

.sigin-wrapper .option input:checked ~ .checkmark:after {
  display: block;
}

.sigin-wrapper .option .checkmark:after {
  content: '';
  width: 13px;
  height: 13px;
  display: block;
  background: #400485;
  position: absolute;
  top: 48%;
  left: 53%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out 0s;
}

.sigin-wrapper .option input[type='radio']:checked ~ .checkmark {
  background: #fff;
  transition: 300ms ease-in-out 0s;
  border: 1px solid #400485;
}

.sigin-wrapper .option input[type='radio']:checked ~ .checkmark:after {
  transform: translate(-50%, -50%) scale(1);
}

.sigin-wrapper .sign-in-btn {
  border-radius: 20px;
  background-color: #400485;
  color: #fff;
}

.sigin-wrapper .btn.btn-block:hover {
  background-color: #55268be0;
}

@media (max-width: 575px) {
  .sigin-wrapper {
    margin: 10px;
  }
}

@media (max-width: 424px) {
  .sigin-wrapper {
    padding: 30px 10px;
    margin: 5px;
  }

  .sigin-wrapper .option {
    position: relative;
    padding-left: 22px;
  }

  .sigin-wrapper .option label.text-muted {
    font-size: 0.95rem;
  }

  .sigin-wrapper .checkmark {
    position: absolute;
    top: 2px;
  }

  .sigin-wrapper .option .checkmark:after {
    top: 50%;
  }

  #forgot {
    font-size: 0.95rem;
  }
}

.signin-sidebar-content {
  margin: 20px 10px !important;
  padding: 40px 20px;
  border: 1px solid blueviolet;
}
.signin-sidebar-form {
  margin: 100px 10px !important;
}
.signin-sidebar-content h4 {
  font-family: Poppins-Regular;
}
.signin-sidebar-content h4 span {
  color: blueviolet;
}
.signin-sidebar-content p {
  font-family: Poppins-Light;
}
.signin-sidebar-content span {
  margin: 0px 10px 0px 0px;
}
.form-control:focus {
  box-shadow: none !important;
}
.br-0 {
  border-radius: 0px !important;
}
