.quick-links-wrapper {
  font-family: Poppins-Light;
  margin-bottom: 10px;
}
.card {
  font-family: Poppins-Light;
}
.quick-links-wrapper h2 {
  margin: 10px 10px 20px 10px;
  padding: 0px 0px 20px 0px;
  font-family: Poppins-Regular;
  font-size: 13px !important;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.quick-links-wrapper .quick-links-inner {
  margin: 1px 10px;
}

.quick-links-wrapper .quick-links-inner .quick-links-inner-links {
  text-decoration: none;
  font-size: 14px !important;
  color: rgb(63, 63, 63);
}

/* 
.quick-links-inner-links::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: rgb(27, 27, 68);
  margin: -20px 10px -10px 0px !important;
  transition: width 0.3s;
}

.quick-links-inner-links:hover::after {
  width: 100%;
  transition: width 0.4s;
} */

.insert {
  background: #5e35b1;
}

img {
  margin-right: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35px;
  margin-top: 5px;
}

.insert span {
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  margin-top: 2px;
}

.insert p {
  text-align: center;
  font-size: 8px;
}

.home {
  text-align: left;
}

.opaque {
  color: #5e35b1;
}

.insert {
  transition: all 1.3s;
}

.insert:hover {
  transform: scale(1.1);
}

.list-inline-item span {
  margin: 0px 10px 0px 10px;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
}
.sidebar-job-listing-desc {
  font-size: 13px !important;
}
