.new-button {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 0px;
  background-color: #9c27b0;
  font-size: 16px;
  margin: 0px 0px 10px 0px;
  color: #fff;
}
input[type='file'] {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 0;
  font-size: 15px;
  color: rgb(153, 153, 153);
}
.button-wrap {
  position: relative;
}
.my-account-card {
  font-family: Poppins-Light;
  border: 1px solid #dee2e6;
}
.my-account-card h2 {
  font-family: Poppins-Regular;
  font-size: 17px !important;
  font-weight: bold;
}
.my-account-card .key-skills {
  margin-top: 20px;
}
.my-account-card .key-skills span {
  margin: 0px 10px !important;
  padding: 2px 10px;
  background-color: rgb(76, 41, 201);
  color: #ffffff;
  border-radius: 4px;
}
.my-account-card .details h3 {
  font-family: Poppins-Light;
  font-size: 13px;
  font-weight: bold;
}
.my-account-card .details p {
  margin: 2px 0px;
}
.quick-links-wrapper {
  font-family: Poppins-Light;
}
/* .quick-links-wrapper h2 {
    margin: 10px 10px 20px 10px;
    padding: 0px 0px 20px 0px;
    font-family: Poppins-Regular;
    font-size: 17px !important;
    font-weight: bold;
    border-bottom: 1px solid black;
  }
   */
/* .quick-links-wrapper .quick-links-inner {
  margin: 1px 10px;
}
.quick-links-wrapper .quick-links-inner .quick-links-inner-links {
  margin: 2px 10px;
  font-size: 15px !important;
  text-decoration: none;
  color: rgb(63, 63, 63);
} */
.user-profile-card {
  padding: 5px;
  text-align: center;
  font-family: Poppins-Light;
}

.user-profile-card .rounded {
  width: 100px;
  border-radius: 50% !important;
}
.user-profile-card h2 {
  font-family: Poppins-Regular;
  font-size: 20px;
  font-weight: bold;
}
.user-profile-card p {
  font-size: 13px;
  margin: 10px 0px;
}
.add-link {
  margin: 0px 0px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.add-link:hover {
  color: black;
}
.edit {
  margin: 0px 10px;
  color: #2fa7f7;
  font-size: 15px;
  background-color: #fff !important;
  border: none;
}

.details .table tbody .action .fa {
  border: 1px solid #d3d3d3;
  padding: 5px;
  background-color: #eaedef;
  margin: 0px 5px;
}

.about-section .counter {
  margin: 20px 0px;
  padding: 22px 20px;
  background: #ffffff;

  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.about-section .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}
.about-section .counter .count {
  font-weight: 700;
  color: #20247b;
  margin: 0 0 5px;
}
.about-section .counter p {
  font-weight: 600;
  margin: 0;
}
mark {
  background-image: linear-gradient(
    rgba(252, 83, 86, 0.6),
    rgba(252, 83, 86, 0.6)
  );
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  background-color: transparent;
  padding: 0;
  color: currentColor;
}
.theme-color {
  color: #fc5356;
}
.dark-color {
  color: #20247b;
}

/* About section ENd */

/* form-model Start  */
.modal-content {
  border-radius: 0px !important;
  font-family: Poppins-Light;
}
.modal-body .form-group label {
  margin: 20px 0px 10px 0px;
  font-size: 13px;
}
.form-control {
  border-radius: 0px !important;
}
.modal-header .btn-close {
  margin: -70px -30px 0px 0px !important;
  border-radius: 50%;
  color: #c8cbcd !important;
  background-color: #ffffff !important;
  border: 1px solid rgb(209, 205, 205);
  font-size: 13px;
  /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; */
  opacity: unset;
}

/* form-model End */

.saved-jobs-title {
  background-color: #ffffff;
  font-family: Poppins-Light;
  padding: 20px 10px 10px 10px;
}

.saved-jobs-title h2 {
  font-size: 15px;
  font-weight: bold;
}
.font-w-600 {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

/* start New Dashboard Css */

.dashboard-profile {
  margin-top: 100px !important;
}

.tab-contents {
  background-color: rgb(230, 228, 228);
}

.nav-tabs .nav-link,
.nav-tabs {
  border: none;
  color: black;
}

.nav-tabs .nav-link:focus {
  border-bottom: 3px solid blue;
  font-weight: 700;
}

.selected-tab {
  background-color: rgb(231, 234, 238);
}

.year {
  margin-left: 100px;
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
}

.vertical-progress {
  width: 2px;
  height: 250px;
}

#small-font {
  font-size: 14px;
}

#blue-background {
  background-color: rgb(233, 243, 245);
}

#dot1,
#dot2,
#dot3 {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 5px solid #fff;
  border-radius: 50%;
  background: rgb(21, 90, 194);
}

#arrow {
  content: '';
  position: absolute;
  margin-left: -5px;
  border-width: 9px;
  border-style: solid;
  border-color: white transparent transparent transparent;
  transform: rotate(90deg);
}

#bluearrow {
  content: '';
  position: absolute;
  margin-left: -5px;
  border-width: 9px;
  border-style: solid;
  border-color: rgb(29, 99, 240) transparent transparent transparent;
  transform: rotate(90deg);
}

@media (min-width: 992px) {
  #profile {
    width: 75px;
    width: 75px;
  }

  .h4 {
    font-weight: bolder;
  }

  #border-right {
    border-right: 2px solid rgb(165, 165, 165);
  }

  #dot1 {
    left: 112px;
  }

  #dot2 {
    left: 112px;
    bottom: 138px;
  }

  #dot3 {
    left: 112px;
    bottom: 25px;
  }

  #status1 {
    position: absolute;
    width: 300px;
    height: 50px;
    left: 150px;
    bottom: 245px;
  }

  #status2 {
    position: absolute;
    width: 300px;
    height: 50px;
    left: 150px;
    bottom: 126px;
  }

  #status3 {
    position: absolute;
    width: 300px;
    height: 50px;
    left: 150px;
    bottom: 15px;
  }

  #arrow,
  #bluearrow {
    top: 31%;
    left: -4%;
  }

  .view {
    height: 360px;
    margin-top: 5%;
  }
}

@media (max-width: 991px) {
  #profile {
    width: 60px;
    height: 60px;
  }

  #info h5,
  #info {
    font-size: 15px;
  }

  .h4 {
    font-size: 16px;
  }

  #count {
    font-size: 12px;
  }

  #border-right {
    border-right: 2px solid rgb(165, 165, 165);
  }

  #status1 {
    position: absolute;
    width: 200px;
    height: 38px;
    left: 98px;
    bottom: 245px;
  }

  #status2 {
    position: absolute;
    width: 200px;
    height: 38px;
    left: 98px;
    bottom: 126px;
  }

  #status3 {
    position: absolute;
    width: 200px;
    height: 38px;
    left: 98px;
    bottom: 15px;
  }

  #status1 .font-weight-bold,
  #status2 .font-weight-bold,
  #status3 .font-weight-bold,
  .day {
    font-size: 12px;
  }

  #status1 .text-muted,
  #status2 .text-white,
  #task,
  #small-font {
    font-size: 10px;
  }

  .dates {
    font-size: 14px;
  }

  #dot1 {
    left: 100px;
  }

  #dot2 {
    left: 100px;
    bottom: 138px;
  }

  #dot3 {
    left: 100px;
    bottom: 25px;
  }

  #arrow,
  #bluearrow {
    top: 21%;
    left: -6%;
  }

  .selected-tab,
  .details {
    font-size: 15px;
  }

  .view {
    height: 340px;
    margin-top: 2%;
  }
}

@media (max-width: 767px) {
  #profile {
    width: 45px;
    height: 45px;
  }

  #info {
    font-size: 10px;
  }

  #info h5 {
    margin-bottom: 3px;
  }

  #blue-background .h4 {
    font-size: 12px;
  }

  #blue-background #count {
    font-size: 10px;
  }

  .nav-tabs .nav-link,
  .nav-tabs {
    border: none;
    color: black;
    font-size: 13px;
  }

  .btn {
    padding: 2px;
    font-size: 12px;
    margin-left: 10px;
  }

  .timeline {
    font-size: 10px;
  }

  .year {
    margin-left: 110px;
  }

  #status1 {
    left: 188px;
    bottom: 220px;
  }

  #status2 {
    left: 188px;
    bottom: 105px;
  }

  #status3 {
    left: 188px;
    bottom: -7px;
  }

  #status1 .font-weight-bold,
  #status2 .font-weight-bold,
  #status3 .font-weight-bold,
  .day {
    font-size: 12px;
  }

  #status1 .text-muted,
  #status2 .text-white,
  #task,
  #small-font {
    font-size: 10px;
  }

  .dates,
  .updated {
    font-size: 14px;
  }

  #dot1 {
    left: 147px;
  }

  #dot2 {
    left: 147px;
    bottom: 114px;
  }

  #dot3 {
    left: 147px;
    bottom: 1px;
  }

  #arrow,
  #bluearrow {
    top: 21%;
    left: -6%;
  }

  .vertical-progress {
    margin-left: 15px;
  }

  .view {
    height: 280px;
    margin-bottom: 10px;
  }
}

@media (max-width: 567px) {
  #blue-background {
    position: absolute;
    top: 118px;
  }

  .nav-tabs {
    padding-top: 75px;
    padding-left: 15px;
  }

  #profile {
    margin-left: 2px;
  }

  .btn {
    margin-top: 10px;
  }

  .timeline {
    margin-left: 10px;
    margin-top: 10px;
  }

  #dot1,
  #dot2,
  #dot3 {
    left: 100px;
  }

  #status1,
  #status2,
  #status3 {
    left: 130px;
    width: 180px;
  }

  #status3 {
    bottom: -30px;
    height: 16%;
  }

  #arrow,
  #bluearrow {
    left: -12px;
  }
}
/* end new Dashboard css */
